<div id="modal_backdrop"></div>

<div id="modal_help" class="modal modal-help">
    <div class="modal-heading">
        <h3 class="modal-title">Help</h3>
        <!--<a href="#" class="close-modal">X</a>-->
    </div>
    <div class="modal-content">
        <p>Caesar cipher is ...</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vel libero et justo suscipit iaculis. Donec lacinia, libero sit amet laoreet bibendum, magna sem ultricies felis, a elementum sapien arcu ac lorem. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent vehicula justo ac ante viverra congue. Mauris ac aliquet ante. Fusce sollicitudin scelerisque urna eget vehicula. Suspendisse elit lacus, dapibus ac odio ut, rutrum iaculis lectus. Sed lacus nulla, tristique at nibh a, eleifend sollicitudin elit.</p>
        <p>Etiam sapien augue, commodo a sem a, venenatis blandit nibh. Cras condimentum malesuada nisl, vel pulvinar ligula cursus ut. Proin bibendum nunc tellus, in feugiat nulla pretium quis. Etiam sollicitudin, libero aliquet commodo accumsan, nisi ipsum tempus ligula, a pulvinar odio felis at ligula. Quisque ex enim, ultrices vitae diam eleifend, consectetur congue odio. In mattis, tellus et sodales scelerisque, nibh orci efficitur ligula, ut convallis sapien magna quis arcu. Proin condimentum bibendum lorem, nec tempor nisl dignissim eget. Nullam eget molestie tortor.</p>
        <!--<p>Nulla orci enim, finibus at leo non, hendrerit facilisis mauris. Etiam laoreet odio nisi. Proin leo ligula, scelerisque nec dignissim at, finibus ut ante. Nunc eu varius nunc. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec convallis erat ante, et volutpat orci vestibulum et. Vestibulum molestie sollicitudin sagittis. Donec lobortis dapibus mi, et rutrum urna dapibus vitae. Mauris lorem arcu, cursus vitae malesuada id, feugiat sollicitudin purus. Phasellus maximus molestie libero, ullamcorper iaculis magna tincidunt a. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque sit amet pulvinar ante.</p>-->
    </div>
</div>