{% extends "base.html"  %}

{% block content %}
    <div class="page-heading">
        <h1 class="page-title">Cyber Caesar</h1>
        <h3 class="page-subtitle">I came, I saw, I've encrypted</h3>
    </div>

    <div class="page-content">
        <form class="encryption-form">

            <textarea
                name="original_text"
                id="original_text"
                cols="30"
                rows="10"
                autofocus="autofocus" ></textarea>

            <div class="controls">
                <label for="rotation">Rotation:</label>
                <input type="number" name="rotation" id="rotation" value="1">
                <button id="decrypt" class="btn decrypt-btn" title="decrytp"><span class="arrow-left"><</span></button>
                <button id="encrypt" class="btn encrypt-btn" title="encrypt"><span class="arrow-right">></span></button>
            </div>

            <textarea
                name="encrypted_text"
                id="encrypted_text"
                cols="30"
                rows="10"></textarea>

        </form>

        <div class="actions-bar">
            <a href="#" class="break">Guess key</a>
        </div>

        <div id="break_result" class="message-box hidden">
            <p><strong>Rotation key:</strong> <span class="key"></span></p>
            <p><strong>Decrypted text:</strong> <span class="text"></span></p>
        </div>
    </div>

    <div class="footer" id="footer">
        <ul class="links">
            <li><a href="#">Help</a></li>
            <li><a href="https://github.com/Mozhavro/cyber-caesar">GitHub</a></li>
            <li><a href="https://t.me/cyber_caesar_bot">Telegram Bot</a></li>
        </ul>
    </div>

{% endblock %}